.filter {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.filter p {
  font-size: 28px;
  text-align: left;
}

.filter input {
  width: 70%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(211, 206, 206);
}

.filter button {
  width: 25%;
  height: 50px;
  margin-left: 5%;
}
