.student-info__input label {
  font-weight: 500;
}
.student-info__input input {
  width: 100%;
  border: 1px solid #f1f3f4;
  outline: none;
  padding: 2px 8px;
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.btn-submit__add-student {
  padding: 4px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #28a745;
  float: right;
  border: none;
}

.btn-submit__add-student:active {
  opacity: 0.75;
}
